{%- comment -%}
  Image Ratio Class Helper
  Returns the appropriate aspect ratio class based on image ratio setting

  Usage:
    {%- render 'image-ratio-class', ratio: settings.product_card_image_ratio -%}
    <div class="{{ image_ratio_class }}">...</div>

  Parameters:
    - ratio: String - 'portrait', 'square', 'landscape', 'adapt', or 'auto'

  Output:
    Assigns 'image_ratio_class' variable for use in the calling template

  Ratios:
    - portrait: 3:4 (taller)
    - square: 1:1
    - landscape: 4:3 (wider)
    - wide: 16:9 (widescreen)
    - adapt/auto: no fixed ratio, adapts to image
{%- endcomment -%}

{%- liquid
  case ratio
    when 'portrait'
      assign image_ratio_class = 'aspect-[3/4]'
    when 'square'
      assign image_ratio_class = 'aspect-square'
    when 'landscape'
      assign image_ratio_class = 'aspect-[4/3]'
    when 'wide'
      assign image_ratio_class = 'aspect-video'
    when 'adapt', 'auto', blank
      assign image_ratio_class = ''
    else
      assign image_ratio_class = ''
  endcase
-%}
