{%- comment -%}
  Renders a swatch component - Tailwind Version
  Accepts:
  - swatch: {Object} a swatch object
  - shape: {String} swatch shape. Accepts 'square', defaults to circle.

  Usage:
  {% render 'swatch',
    swatch: value.swatch
    shape: 'square'
  %}
{%- endcomment -%}

{%- liquid
  assign swatch_value = null
  if swatch.image
    assign image_url = swatch.image | image_url: width: 50
    assign swatch_value = 'url(' | append: image_url | append: ')'
    assign swatch_focal_point = swatch.image.presentation.focal_point
  elsif swatch.color
    assign swatch_value = 'rgb(' | append: swatch.color.rgb | append: ')'
  endif
-%}

<span
  class="swatch block w-6 h-6 border border-neutral-200 shadow-sm
    {% if shape == 'square' %}rounded{% else %}rounded-full{% endif %}
    {% unless swatch_value %}bg-neutral-100 relative after:absolute after:inset-0 after:bg-[repeating-linear-gradient(45deg,transparent,transparent_2px,rgba(0,0,0,0.1)_2px,rgba(0,0,0,0.1)_4px)]{% endunless %}"
  {% if swatch_value %}
    style="background: {{ swatch_value }};{% if swatch_focal_point %} background-position: {{ swatch_focal_point }};{% endif %} background-size: cover;"
  {% endif %}
></span>
