/* ==========================================================================
   CART - Cart count bubble
   ========================================================================== */

@layer components {
  .cart-count-bubble:empty {
    display: none;
  }

  .cart-count-bubble {
    position: absolute;
    background-color: rgb(var(--color-button));
    color: rgb(var(--color-button-text));
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    bottom: 0.8rem;
    left: 2.2rem;
    line-height: calc(1 + 0.1 / var(--font-body-scale));
  }
}
