/* ==========================================================================
   DISCLOSURE - Dropdowns and popup menus
   ========================================================================== */

@layer components {
  .disclosure-has-popup {
    position: relative;
  }

  .disclosure-has-popup[open] > summary::before {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: block;
    cursor: default;
    content: ' ';
    background: transparent;
  }

  .disclosure-has-popup > summary::before {
    display: none;
  }

  .disclosure-has-popup[open] > summary + * {
    z-index: 100;
  }

  @media (min-width: 750px) {
    .disclosure-has-popup[open] > summary + * {
      z-index: 4;
    }
  }

  /* Global Settings Popup */
  .global-settings-popup {
    border-radius: var(--popup-corner-radius);
    border: var(--popup-border-width) solid rgba(var(--color-foreground), var(--popup-border-opacity));
    background: rgb(var(--color-background));
    box-shadow: var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset)
      var(--popup-shadow-blur-radius) rgba(var(--color-shadow), var(--popup-shadow-opacity));
  }
}
