/* ==========================================================================
   ICONS - SVG icons and wrappers
   ========================================================================== */

@layer components {
  .icon-arrow {
    width: 1.5rem;
  }

  h3 .icon-arrow,
  .h3 .icon-arrow {
    width: calc(var(--font-heading-scale) * 1.5rem);
  }

  .animate-arrow .icon-arrow path {
    transform: translateX(-0.25rem);
    transition: transform var(--duration-short) ease;
  }

  .animate-arrow:hover .icon-arrow path {
    transform: translateX(-0.05rem);
  }

  .svg-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
  }

  .svg-wrapper > svg {
    height: 100%;
    width: 100%;
  }

  summary .icon-caret {
    position: absolute;
    height: 0.6rem;
    right: 1.5rem;
    top: calc(50% - 0.2rem);
  }
}
