/* ==========================================================================
   MODAL - Modal dialogs and overlays
   ========================================================================== */

@layer components {
  .modal__toggle {
    list-style-type: none;
  }

  .modal__toggle-close {
    display: none;
  }

  .modal__toggle-open {
    display: flex;
  }

  .modal__close-button.link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 4.4rem;
    width: 4.4rem;
    background-color: transparent;
  }

  .modal__close-button .icon {
    width: 1.7rem;
    height: 1.7rem;
  }

  .modal__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(var(--color-background));
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
