/* ==========================================================================
   SHOPIFY - Shopify-specific components
   ========================================================================== */

@layer components {
  /* Shopify Accelerated Checkout */
  shopify-accelerated-checkout,
  shopify-accelerated-checkout-cart {
    --shopify-accelerated-checkout-button-border-radius: var(--buttons-radius-outset);
    --shopify-accelerated-checkout-button-box-shadow: var(--shadow-horizontal-offset) var(--shadow-vertical-offset) var(--shadow-blur-radius)
      rgba(var(--color-shadow), var(--shadow-opacity));
  }
}
